
.navbar {
  margin-bottom: 0;
}

.navbar a {
  color: #293d3d;
}

.heading p {
  font-size: 20px;
}

.heading {
  background-image: url("images/rainbow.png");
  background-color: #8DA9EE;
  color: #293d3d;
  background-repeat: no-repeat;
  background-size: cover;
}

.sketchy {
  padding: 5px;
  display: inline-block;
  border: 3px solid #293d3d;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  position: relative;
}
  
  &::before {
      content: '';
      border: 2px solid #293d3d;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }

.icons {
  font-size: 40px;
}

h1 {
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #293d3d;
}

a:hover {
  text-decoration: none;
  color: #293d3d;
}

p {
  font-size: 20px;
  color: #293d3d;
}

.skills {
  margin-bottom: 10px;
}

.skills img {
  height: 500px;
  width: 500px;
}

.skills li {
  list-style-type: none;
  font-size: 25px;
}

.projects img {
  box-shadow: 5px 5px 0 #fff, 10px 10px 0 rgba(0,0,0,0.2);
  height: 250px;
  width: 400px;
}

.projects h3 {
  padding-bottom: 10px;
}

.blog {
  padding-bottom: 50px;
}

.blog img {
  box-shadow: 5px 5px 0 #fff, 10px 10px 0 rgba(0,0,0,0.2);
  height: 250px;
  width: 400px;
}

.blog h3 {
  padding-bottom: 10px;
}

.information a {
  text-decoration: underline;
}

button {  
  background-color: #8DA9EE;
  color: #293d3d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
}

footer {
  margin-top: 10px;
  background-image: url("images/rainbow-small.png");
  background-color: #8DA9EE;
  color: #293d3d;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: #293d3d;
  font-size: 20px;
}

footer i {
  padding-right: 15px;
}

.title {
  padding-bottom: 10px;
}

.left-side{
  width: 90%;
  padding-bottom: 25px;
  padding-left: 25px;
}

.contact {
  margin-top: 15px;
  margin-bottom: 50px;
}

.contact h2 {
  padding-bottom: 20px;
}

.contact p {
  padding-bottom: 20px;
}

.contact-heading {
  background-image: url("images/rainbow-small.png");
  background-color: #8DA9EE;
  color: #293d3d;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}

.content{
  width: 90%; 
}
